<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :job_title %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :job_location %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :job_description %>
  </div>

  <div class="field">
    <%= form.label :time_commitment %>
    <%= form.select :time_commitment, Job.time_commitments.keys, id: :time_commitment %>
  </div>

  <div class="field">
    <%= form.label :organisation %>
    <%= form.text_field :organisation, id: :job_organisation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
