<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :job_title, class: "form-control", required: true,
      placeholder: "Executive assistant for high-flying philosopher" %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.all, :id, :name, id: :project_category, class: "form-control", required: true %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-9">
      <%= form.label :location %>
      <%= form.text_field :location, id: :job_location, class: "form-control", placeholder: "Oxford, UK" %>
    </div>

    <div class="form-group col-md-3 justify-content-center">
      <%= form.label :remote_okay? %>
      <%= form.check_box :remote, id: :job_remote, class: "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :job_description, class: "form-control", required: true,
      placeholder: "You'll be working for a certain Oxford professor with a Scottish accent. No time-wasters" %>
    <small class="form-text text-muted">You can use Markdown for formatting.</small>
  </div>

  <div class="form-group">
    <%= form.label :time_commitment %>
    <%= form.select :time_commitment,
      Job.time_commitments.keys, id: :time_commitment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :organisation %>
    <%= form.text_field :organisation, id: :job_organisation, class: "form-control", required: true,
      placeholder: "Centre for Effective Altruism" %>
  </div>

  <div class="form-group">
    <%= form.label "URL or email address" %>
    <%= form.text_field :url, id: :url, class: "form-control", required: true,
      placeholder: "mailto:will@cea.org" %>
    <small class="form-text text-muted">If you put an email address here, please make sure it starts with <code>mailto:</code></small>
  </div>

  <div class="form-group">
    <%= form.label "Applications due by" %>
    <%= form.date_field :expiry_date, id: :expiry_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Your name" %>
    <%= form.text_field :owner_name, id: :owner_name, class: "form-control", required: false, disabled: true, placeholder: current_user_name %>
    <small class="form-text text-muted">This will be publicly visible.</small>
  </div>

  <div class="form-group">
    <br>
    <button type="submit" class="btn btn-dark btn-lg btn-block">Publish now 👌</button>
  </div>
<% end %>
