
<div id="masthead" class="container-fluid white-on-blue">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="display-2">Jobs</h1>
    </div>
  </div>
</div>
<div class="container-fluid pb-5">
  <div class="row justify-content-center pt-3">
    <div class="col-md-8">
      <% @categories.each do |category| %>
        <% next unless category.jobs.any? %>
          <h2 class="pt-5"><%= category.name %></h4>
          <% @jobs.select { |j| j.category == category }.each do |job| %>
          <div class="card mt-3">
            <div class="card-body">
              <h4 class="card-title"><%= link_to job.title, job %></h4>
              <h6 class="card-subtitle mb-2"><%= job.organisation %></h6>
              <h6 class="card-subtitle mb-2 text-muted"><%= job.location %></h6>
              <p class="card-text"><%= job.preview %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
