
<div id="masthead" class="container-fluid white-on-blue">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="display-2">Jobs</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Description</th>
            <th>Time commitment</th>
            <th>Organisation</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @jobs.each do |job| %>
            <tr>
              <th scope="row"><%= job.title %></th>
              <td><%= job.location %></td>
              <td><%= job.preview %></td>
              <td><%= job.pretty_time_commitment %></td>
              <td><%= job.organisation %></td>
              <td><%= link_to 'View →', job %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
