<!-- <p id="notice"><%= notice %></p> -->

<div id="masthead" class="container-fluid white-on-blue">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p class="h3"><%= @job.organisation %></p>
      <h1 class="display-4"><%= @job.title %></h1>
      <% if @job.url %>
      <br><a href="<%= @job.url %>" target="_blank" type="button" class="btn btn-dark">Apply now →</a>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center page-section">
    <div class="col-md-8">
      <p>
        <%= sanitize @job.pretty_description %>
      </p>

      <p>
        <strong>Time commitment:</strong>
        <%= @job.pretty_time_commitment %>
      </p>

      <%= link_to '← All Jobs', jobs_path %>
    </div>
  </div>
</div>
