<div id="masthead" class="container-fluid white-on-blue">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p class="h3"><%= @job.organisation %></p>
      <h1 class="display-4"><%= @job.title %></h1>
      <% if @job.url %>
      <br><a href="<%= @job.url %>" target="_blank" type="button" class="btn btn-dark">Apply now →</a>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center page-section">
    <div class="col-md-6">
      <p>
        <%= sanitize @job.pretty_description %>
      </p>
      <p>
        <strong>Time commitment:</strong>
        <%= @job.pretty_time_commitment %>
      </p>
      <% if @job.expiry_date %>
      <p>
        <strong>Applications due:</strong>
        <%= @job.expiry_date %>
      </p>
      <% end %>
    </div>
    <div class="col-md-2">
      <p>
        <small class="text-muted">
          <ul class="no-bullet-list">
          <% if @job.owner_name %>
          <li><em>Created by</em> <%= @job.owner_name %></li>
          <% end %>
          <li><em>Submitted</em> <%= @job.created_at.to_date.to_formatted_s(:short) %></li>
          <li><em>Last updated</em> <%= @job.updated_at.to_date.to_formatted_s(:short) %></li>
        </ul>
        </small>
      </p>
    </div>
    <div class="col-md-8">
      <% if @job.owner_id && ( @job.owner_id == current_user_id ) %>
        <%= link_to '← All Jobs', jobs_path %> | <%= link_to 'Edit', edit_job_path %>
      <% else %>
        <%= link_to '← All Jobs', jobs_path %>
      <% end %>
    </div>
  </div>
</div>
