<div id="masthead" class="container-fluid white-on-blue">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p class="h3"><%= @job.organisation %></p>
      <h1 class="display-4"><%= @job.title %></h1>
      <% if @job.location.present? %>
        <p class="h4"><%= @job.location %></p>
      <% elsif @job.remote? %>
        <p class="h4"><i>Remote</i></p>
      <% end %>

      <% if @job.url %>
      <br><a href="<%= @job.url %>" target="_blank" type="button" class="btn btn-dark" id="outbound">Apply now →</a>
      <% end %>

    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center page-section">
    <div class="col-md-6">
      <% if @job.expires_soon? %>
        <% if @job.expired? %>
        <p><mark>Applications for this job may be closed.</mark></p>
        <% else %>
        <p><mark>Applications for this job close soon.</mark></p>
        <% end %>
      <% end %>
      <p>
        <%= sanitize @job.pretty_description %>
      </p>
      <p>
        <strong>Time commitment:</strong>
        <%= @job.pretty_time_commitment %>
      </p>
      <% if @job.expiry_date.present? %>
      <p>
        <strong>Applications due:</strong>
        <%= @job.expiry_date %>
      </p>
      <% end %>
    </div>
    <div class="col-md-2">
      <p>
        <small class="text-muted">
          <ul class="no-bullet-list">
          <li><em>Category</em> <%= @job.category.name %></li>
          <% if @job.owner_name.present? %>
          <li><em>Created by</em> <%= @job.owner_name %></li>
          <% end %>
          <li><em>Submitted</em> <%= @job.created_at.to_date.to_formatted_s(:short) %></li>
          <li><em>Last updated</em> <%= @job.updated_at.to_date.to_formatted_s(:short) %></li>
        </ul>
        </small>
      </p>
    </div>
    <div class="col-md-8">
      <%# TODO: this conditional is so terrible %>
      <% if user_signed_in? && ( current_user_db_record.jobs.include?(@job) || current_user_db_record.admin? ) %>
        <%= link_to '← All Jobs', jobs_path %> |
        <%= link_to 'Edit', edit_job_path %> |
        <%= link_to 'Delete', @job, data: { confirm: 'Are you sure?' }, method: :delete %>
      <% else %>
        <%= link_to '← All Jobs', jobs_path %>
      <% end %>
    </div>
  </div>
</div>
<script>
var a = document.getElementById("outbound");
    a.onclick = function() {
      ga('send', 'event', {
        eventCategory: 'Job outbound click',
        eventAction: 'click',
        eventLabel: "job-<%= @job.id %>",
      });
      return true; // tell the browser to follow the link
    }
</script>
