  <div id="masthead" class="container-fluid white-on-blue">
    <div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="display-3">EA Work Club</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2>High-impact jobs and side projects for effective altruists. <small><span class='text-muted'><a href="/about">Why?</a></span></small></h2>
        </div>
      </div>
    </div>
  </div>
  <div id="listings-main" class="container-fluid">
    <div class="row justify-content-center">
      <div id="alpha-alert-frontpage" class="col-md-8">
        <div class="alert alert-warning" role="alert">
          <strong>Hey!</strong> This site is super new, and things might be broken. If so, please <a href="mailto:henry@henrystanley.com">get in touch</a>! 🚀
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8">
        <% unless @jobs.any? %>
        <h2>Latest jobs</h2>
          <p>Nothing yet. Check back soon.</p>
        <% else %>
        <h2>Latest jobs <small class="text-muted">or <a class="nav-link-dark" href="<%= "/jobs" %>">see all</a></small></h2>
        <div style="padding-top: 1em;">
          <div class="alert alert-secondary" role="alert">
            Currently, we only have a handful of listings. We're working to expand this. If you know of a high-impact job you think should be here, <a href="<%= new_job_path %>" class="alert-link">submit it</a>.
          </div>
        </div>
        <ul class="no-bullet-list">
          <% @jobs.each do |job| %>
            <li class="job-listing-front">
              <h5>
                <a href="<%= url_for job %>"><%= job.title %></a>
                <% if job.expires_today? %>
                <small><span class="badge badge-pill badge-warning">Closing today</span></small>
                <% end %>
              </h5>

              <h6 class="text-muted"><%= job.organisation %></h6>
              <%= job.preview %>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>
      <div class="col-lg-4 col-md-8">
        <% unless @projects.any? %>
        <h2>Latest projects</h2>
        <div style="padding-top: 1em;">
          <div class="alert alert-secondary" role="alert">
            Coming soon. <a href="<%= new_project_path %>" class="alert-link">Submit your project now</a> or <a href="<%= new_project_path %>" class="alert-link">subscribe for updates</a>!
          </div>
        </div>
        <% else %>
        <h2>Latest projects <small class="text-muted">or <a class="nav-link-dark" href="<%= "/projects" %>">see all</a></small></h2>
        <ul class="no-bullet-list">
          <% @projects.each do |project| %>
            <li class="project-listing-front">
              <h5>
                <a href="<%= url_for project %>"><%= project.title %></a><small><span class="text-muted">
                – <%= project.organisation.present? ? project.organisation : project.owner_name %></span></small>
                <a href="<%= url_for project%>/upvote"><small><span class="badge badge-pill badge-primary">
                  <%= project.votes_for.size %> ★
                </span></a></small>
              </h5>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
