  <div id="masthead" class="container-fluid white-on-blue">
    <div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="display-3">EA Work Club</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2>Jobs and side projects for effective altruists.</h2>
        </div>
      </div>
    </div>
  </div>
  <div id="listings-main" class="container-fluid">
    <div class="row justify-content-center">
      <div id="alpha-alert-frontpage" class="col-md-8">
        <div class="alert alert-warning" role="alert">
          <strong>Hey!</strong> This site is super new, and things might be broken. If so, please <a href="mailto:henry@henrystanley.com">get in touch</a>! 🚀
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8">
        <% unless @jobs %>
        <h2>Latest jobs</h2>
          <p>Nothing yet. Check back soon.</p>
        <% else %>
        <h2>Latest jobs <small class="text-muted">or <a class="nav-link-dark" href="<%= "/jobs" %>">see all</a></small></h2>
        <div style="padding-top: 1em;">
          <div class="alert alert-secondary" role="alert">
            Currently, we only have a handful of listings. We're working to expand this. If you know of a high-impact job you think should be here, <a href="<%= new_job_path %>" class="alert-link">submit it</a>.
          </div>
        </div>
        <ul class="no-bullet-list">
          <% @jobs.each do |job| %>
            <li class="job-listing-front">
              <h5><a href="<%= url_for job %>"><%= job.title %></a> ∙ <%= job.organisation %></h5>
              <%= job.preview %>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>
      <div class="col-lg-4 col-md-8">
        <h2>Latest projects</h2>
        <div style="padding-top: 1em;">
          <div class="alert alert-secondary" role="alert">
            Coming soon. <a href="https://goo.gl/forms/JXyEZ9r4hOcpvyXv2" class="alert-link">Submit your project now</a> or <a href="https://tinyletter.com/eaworkclub" class="alert-link">subscribe for updates</a>!
          </div>
        </div>
      </div>
