<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :project_title, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.all, :id, :name, id: :project_category, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description, class: "form-control", required: true %>
    <small class="form-text text-muted">You can use Markdown for formatting.</small>
  </div>

  <div class="form-group">
    <%= form.label :organisation %>
    <%= form.text_field :organisation, id: :project_organisation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :budget %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= form.number_field :budget, id: :project_budget, class: "form-control"%>
    </div>
    <small class="form-text text-muted">If your project has a budget available, enter it here in USD.</small>
  </div>

  <div class="form-group">
    <%= form.label :contact_email %>
    <%= form.text_field :contact_email, id: :project_contact_email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Your name" %>
    <%= form.text_field :owner_name, id: :owner_name, class: "form-control", required: false, disabled: true, placeholder: current_user_name %>
    <small class="form-text text-muted">This will be publicly visible.</small>
  </div>

  <div class="form-group">
    <br>
    <button type="submit" class="btn btn-dark btn-lg btn-block">Publish now 👌</button>
  </div>
<% end %>
