<div id="masthead" class="container-fluid white-on-blue">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="display-2">All Categories</h1>
    </div>
  </div>
</div>
<div class="container-fluid pb-5">
  <div class="row justify-content-center pt-3">
    <div class="col-md-8">
      <div class="card-columns">
        <% @categories.each do |category| %>
          <div class="card mt-3">
            <div class="card-body">
              <h4 class="card-title"><%= category.name %></h4>
              <% if category.description.present? %>
              <p class="card-text"><%= category.description.split('.').first %></p>
              <% end %>
              <h6><%= link_to 'View jobs', category_jobs_url(category_id: category.id), class: "card-link" %>
                <% if category.jobs.count > 0 %>
                <span class="badge badge-pill badge-primary">
                  <%= category.jobs.count %>
                </span>
                <% end %>
              </h6>
              <h6><%= link_to 'View projects', category_projects_url(category_id: category.id), class: "card-link" %>
                <% if category.projects.count > 0 %>
                <span class="badge badge-pill badge-primary">
                  <%= category.projects.count %>
                </span>
                <% end %>
              </h6>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
