<!DOCTYPE html>
<html>
  <head>
    <title>EA Work Club</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="container-fluid" id="navbar">
      <nav class="navbar navbar-expand-lg">
        <div class="navbar-collapse">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="<%= root_path %>">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <% if @user %>
                <a class="nav-link" href="/logout">Log Out</a>
              <% else %>
                <a class="nav-link" href="/auth/auth0">Login</a>
              <% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:henry@henrystanley.com">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>



  </div>
    <%= yield %>
  </body>
</html>
