<!DOCTYPE html>
<html>
  <head>
    <script async src='https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_ANALYTICS_ID'] %>'></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= ENV['GOOGLE_ANALYTICS_ID'] %>');
    </script>

    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("<%= ENV['HEAP_ANALYTICS_ID'] %>");
    </script>

    <title>EA Work Club</title>
    <meta name="description" content="High-impact jobs and side projects for effective altruists.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="http://www.eawork.club/logo.jpg" />
  </head>

  <body>
    <% if notice %>
    <div class="container-fluid" id="flash">
      <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash-alert">
        <%= notice.html_safe %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <% end %>
    <div class="container-fluid" id="navbar">
      <nav class="navbar navbar-expand-sm">
        <div class="navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="<%= root_path %>">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/subscription"><b>Email Alerts</b> <span class="badge badge-pill badge-danger">New!</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_job_path %>">Submit a Job 💼</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_project_path %>">Submit a Project 💡</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <% if user_signed_in? %>
              <a class="nav-link" href="/logout">Log Out</a>
              <% else %>
              <a class="nav-link" href="/auth/auth0">Log In (no registration needed)</a>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>$(function () {
      $('[data-toggle="popover"]').popover()
    })</script>
    <script>$(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })</script>
    <script>
    window.setTimeout(function() { $("#flash-alert").alert('close'); }, 3000)
    </script>
  </body>
</html>
