<!DOCTYPE html>
<html>
  <head>
    <title>EA Work Club</title>
    <meta name="description" content="High-impact jobs and side projects for effective altruists.">

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="http://www.eawork.club/logo.jpg" />
  </head>

  <body>
    <% if notice %>
      <%= render partial: "shared/flash" %>
    <% end %>

    <%= render partial: "shared/navbar" %>

    <%= yield %>

    <%= render partial: "shared/footer" %>
    <script>
      window.setTimeout(function() { $("#flash-alert").fadeOut(); }, 5000)
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
  </body>
</html>
